$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;
//breakpoints

$navbar-color:#323232;
$navbar-text:#fff;
$silver:#AFAFAF;

$mobile-page-header--size:24px;
$mobile-page-header--lineheight:32px;
$mobile-page-header--textweight:700;

$mobile-section-header--size:24px;
$mobile-section-header--lineheight:32px;
$mobile-section-header--textweight:700;

$desktop-page-header--size:60px;
$desktop-page-header--lineheight:68px;
$desktop-page-header--textweight:700;

$desktop-section-header--size:36px;
$desktop-section-header--lineheight:44px;
$desktop-section-header--textweight:700;

$desktop-sub-header--size:24px;
$desktop-sub-header--lineheight:32px;
$desktop-sub-header--textweight:600;

$desktop-bodycopy--size:14px;
$desktop-bodycopy--lineheight:22px;
$desktop-bodycopy--textweight:400;

$desktop-footercopy--size:14px;
$desktop-footercopy--lineheight:20px;
$desktop-footercopy--textweight:400;

$desktop-footersnbuttons--size:12px;
$desktop-footersnbuttons--lineheight:20px;
$desktop-footersnbuttons--textweight:700;

//define all the variables
// define margins and padding
// make skeleton for mobile 
// add flare
// repeat skeleton for tablet and desktop
// add flare


