@font-face {
  font-family: "AvenirNext";
  src: url(../assets/Font/AvenirNextLTPro-Regular.otf) format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNextDemi";
  src: url(../assets/Font/AvenirNextLTPro-Demi.otf) format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNextBold";
  src: url(../assets/Font/AvenirNextLTPro-Bold.otf) format("opentype");
  font-weight: 700;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
  font-family: "AvenirNext", sans-serif;
  box-sizing: border-box;
}

ul, a, a:link, a:visited {
  text-decoration: none;
  list-style-type: none;
  padding: 0;
}

.navbar {
  text-align: center;
  width: 100%;
  background-color: #323232;
  display: inline-block;
  padding-top: 1.5rem;
}
.navbar-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
.navbar-list__item {
  text-align: center;
  width: 50%;
}
.navbar-list #bio, .navbar-list #shows:hover {
  border-bottom: 5px solid #fff;
}
.navbar-list #bio .section-header, .navbar-list #shows:hover .section-header {
  color: #fff;
}
.navbar-list #shows .section-header {
  color: #AFAFAF;
}
.navbar-list__title {
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 0;
    padding-top: 2.25rem;
  }
  .navbar-list {
    margin-bottom: 0;
  }
  .navbar-list__item {
    display: flex;
    justify-content: center;
    padding: 0 2.25rem;
    width: 33%;
  }
  .navbar-list__title {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: wrap;
    margin: 0 2.25rem;
  }
}
.page-header {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  color: #fff;
  font-family: "AvenirNext", sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}

.section-header {
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  color: #AFAFAF;
  font-family: "AvenirNextBold", sans-serif;
}

.hero-content {
  display: flex;
  position: relative;
  text-align: left;
  background-color: rgb(0, 0, 0);
  margin-top: 0;
  padding-top: 0;
}
.hero-content__title {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  color: #fff;
  font-family: "AvenirNextBold", sans-serif;
  position: absolute;
  display: flex;
  align-self: center;
  color: #fff;
  margin-left: 1rem;
}
.hero-content__subtitle {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  color: #fff;
  font-family: "AvenirNextBold", sans-serif;
  position: absolute;
  display: flex;
  align-self: center;
  color: #fff;
  margin-left: 1rem;
}
.hero-image img {
  display: flex;
  width: 100%;
  height: auto;
  opacity: 0.5;
  -o-object-position: center;
     object-position: center;
}

@media (min-width: 768px) {
  .page-header {
    font-size: 36px;
    line-height: 44px;
    color: #fff;
    font-family: "AvenirNext", sans-serif;
    margin-top: 0;
    margin-bottom: 0;
  }
  .section-header {
    font-size: 24px;
    line-height: 32px;
    color: #fff;
    font-family: "AvenirNextDemi", sans-serif;
  }
  .hero-content__title {
    font-size: 60px;
    line-height: 68px;
    color: #fff;
    font-family: "AvenirNextBold", sans-serif;
  }
}
.hero, .about, .photogallery {
  margin-top: 0;
  padding-top: 0;
  display: flex;
  width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  .photogallery-content {
    margin: 2.25rem;
  }
}
.about-content {
  padding: 0 1rem;
}
.about-content__title {
  font-size: 24px;
  line-height: 32px;
  margin-top: 1.5rem;
  color: #323232;
  font-family: "AvenirNextDemi";
}
.about-content__text .subheader p {
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
}
.about-content__text .boldcopy {
  font-size: 13px;
  line-height: 18px;
  font-weight: 700;
}
.about-content__text .copy {
  display: block;
}
.about-content__text .copy p {
  padding-right: 2.25rem;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}
.about-content__image img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.photogallery-content {
  margin: 1rem;
}

.photogallery-title {
  margin: 1rem;
}

@media (min-width: 768px) {
  .hero-content__title {
    margin-left: 2.25rem;
  }
  .about-content {
    padding: 0 2.25rem;
  }
  .about-content__text {
    margin: 0 2.25rem;
  }
  .about-content__text .copy {
    display: flex;
    flex-wrap: nowrap;
    text-align: left;
    justify-content: space-between;
  }
  .about-content__text .subheader p {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    color: #323232;
  }
  .about-content__text .boldcopy {
    font-size: 14px;
    line-height: 22px;
    font-weight: 700;
    color: #323232;
  }
  .about-content__text .copy p {
    padding-right: 2.25rem;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
  }
  .about-content__title {
    font-size: 36px;
    line-height: 44px;
    margin-top: 3rem;
    color: #323232;
    font-family: "AvenirNextDemi";
  }
  .about-content__image {
    margin: 2.25rem;
    padding: 0 2.25rem;
  }
}
.photogallery-content__image img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.photogallery {
  display: inline-block;
  background-color: #FAFAFA;
}

@media (min-width: 768px) {
  .header__list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .footer-list--no-mobile {
    display: flex;
    color: #fff;
  }
  .photogallery-title {
    margin: 2.25rem;
    color: #323232;
    font-size: 24px;
    line-height: 32px;
    font-family: "AvenirNextDemi";
  }
  .photogallery-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2.25rem;
    flex-wrap: wrap;
    margin: 2.25rem;
  }
}
.footer-content {
  background-color: #323232;
  padding: 1rem;
}
.footer-content__header .list__title {
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
  color: #fff;
  font-family: "AvenirNextDemi";
}
.footer-content__header .list__socials {
  display: flex;
  justify-content: flex-start;
}
.footer-content__header .list__socials .icon {
  padding: 0 1rem;
}
.footer-content__header .no-mobile {
  display: none;
}
.footer-content__list {
  display: flex;
  align-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}
.footer-content__list .item {
  padding: 1rem 0;
  color: #fff;
  font-size: 0.625rem;
  line-height: 20px;
  font-weight: 400;
}
.footer-content__list .item a {
  color: #fff;
}
.footer-content__copyright {
  font-size: 0.75rem;
  line-height: 20px;
  font-weight: 400;
  text-align: left;
  color: #fff;
}
.footer-content .footer-content__logo {
  color: #fff;
}

@media (min-width: 768px) {
  .footer {
    background-color: #323232;
    display: flex;
    width: 100%;
    height: auto;
  }
  .footer-content {
    padding: 0 2.25rem;
    padding-top: 3rem;
  }
  .footer-content__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #323232;
  }
  .footer-content__header .list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .footer-content__header .list__title {
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    color: #fff;
    font-family: "AvenirNextDemi";
    margin-right: 6.75rem;
  }
  .footer-content__header .list__socials .icon {
    padding: 0 1rem;
  }
  .footer-content__header .no-mobile {
    display: flex;
    color: #fff;
  }
  .footer-content__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
    background-color: #323232;
  }
  .footer-content__list .item {
    display: block;
    color: #fff;
    font-size: 0.75rem;
    line-height: 20px;
    align-items: center;
    width: 100%;
    flex-wrap: nowrap;
  }
  .footer-content__list .item__title {
    margin-bottom: 2.25rem;
    font-family: "AvenirNextDemi";
  }
  .footer-content__list .item__subtitle {
    margin-bottom: 2.25rem;
    font-family: "AvenirNext";
  }
  .footer-content__logo {
    display: none;
  }
  .footer-content__copyright {
    padding-bottom: 2.25rem;
    font-size: 0.75rem;
    line-height: 20px;
    font-weight: 400;
    text-align: left;
    color: #fff;
  }
}
@media (min-width: 1280px) {
  .hero-content__title {
    padding: 4.5rem;
  }
  .photogallery-content {
    padding: 0 4.5rem;
  }
  .navbar-list__title, .about-content__title, .photogallery-title {
    padding-left: 4.5rem;
  }
  .about-content__text {
    margin: 0 4.5rem;
  }
  .about-content__image {
    margin: 0 4.5rem;
    padding: 0 4.5rem;
  }
  .photogallery-title {
    font-family: "AvenirNextDemi";
  }
  .footer-content {
    padding: 0 6.75rem;
  }
  .footer-content__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-align: left;
    flex-wrap: nowrap;
    align-items: center;
    background-color: #323232;
  }
}
.input {
  padding: 16px;
  width: 90%;
  height: auto;
  font-size: "AvenirNext";
  height: auto;
  border: 2px solid #AFAFAF;
  background-color: #FAFAFA;
  border-radius: 5px;
}

.input-button {
  font-size: 14px;
  font-family: "AvenirNextDemi";
}

.card {
  width: 100%;
}

.getstarted-title {
  margin: 16px;
  font-size: 24px;
  color: #323232;
}

.comment-form {
  margin: 16px;
  width: auto;
  border-bottom: 2px solid #E1E1E1;
}

.form-container {
  width: 100%;
}

.titles {
  font-family: "AvenirNextBold";
  color: #AFAFAF;
}

.comment-name {
  background-color: #FAFAFA;
}

.comment-card {
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input-button {
  background-color: #323232;
  color: #E1E1E1;
  border-radius: 6px;
  border: 0px;
  padding: 16px;
  width: 95%;
  height: auto;
  margin: 16px 0;
}

@media (min-width: 768px) {
  .getstarted-title {
    margin: 36px;
    font-size: 60px;
    color: #323232;
  }
  .input-button {
    width: 25%;
    height: auto;
    margin: 24px 36px 18px 69%;
  }
}
@media (min-width: 1280px) {
  .getstarted-title {
    font-size: 60px;
    color: #323232;
  }
  .form-container {
    width: auto;
  }
  .input {
    padding: 16px;
    width: 100%;
  }
  .getstarted-title {
    margin: 36px;
  }
  .card {
    margin: 0 36px;
    display: flex;
    flex-direction: column;
  }
  .input {
    font-size: 14px;
    font-family: "AvenirNext";
    text-align: start;
    color: #000000;
  }
  .titles {
    font-size: 14px;
    font-family: "AvenirNextBold";
    color: #AFAFAF;
  }
  .user-image {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin: 16px;
  }
  .input-button {
    width: 25%;
    margin: 24px 20% 18px 80%;
  }
  .comments {
    margin: 0 25%;
  }
  .form-container {
    margin: 0 25%;
  }
}
.input-button:hover {
  background-color: #000000;
}

.comment-form {
  display: flex;
  flex-direction: row;
  margin: 16px;
  width: 100%;
}

.user-image {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin: 16px;
}

.comment-image {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin: 16px;
  display: flex;
  align-self: start;
  flex-shrink: 0;
}

.header-style {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #323232;
}

.extra-div {
  width: auto;
  display: flex;
  border-bottom: 2px solid #E1E1E1;
  margin: 16px;
  align-items: flex-end;
}

.buttons {
  width: 50px;
  height: 20px;
  margin: 16px;
}/*# sourceMappingURL=bio.css.map */