@font-face {
  font-family: "AvenirNext";
  src: url(../assets/Font/AvenirNextLTPro-Regular.otf) format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNextDemi";
  src: url(../assets/Font/AvenirNextLTPro-Demi.otf) format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNextBold";
  src: url(../assets/Font/AvenirNextLTPro-Bold.otf) format("opentype");
  font-weight: 700;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
  font-family: "AvenirNext", sans-serif;
  box-sizing: border-box;
}

ul, a, a:link, a:visited {
  text-decoration: none;
  list-style-type: none;
  padding: 0;
}

.navbar {
  text-align: center;
  width: 100%;
  background-color: #323232;
  display: inline-block;
  padding-top: 24px;
}
.navbar-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
.navbar-list__item {
  text-align: center;
  width: 50%;
}
.navbar-list__item hr {
  border: 3px solid #fff;
  margin: 0;
}
.navbar-list__title {
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 0;
    padding-top: 36px;
  }
  .navbar-list {
    margin-bottom: 0;
  }
  .navbar-list__item {
    display: flex;
    justify-content: center;
    padding: 0 36px;
    width: 33%;
  }
  .navbar-list__title {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: wrap;
    margin: 0 36px;
  }
}
.page-header {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  color: #fff;
  font-family: "AvenirNext", sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}

.hero-content__title {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  color: #fff;
  font-family: "AvenirNextBold", sans-serif;
}

.section-header {
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  color: #fff;
  font-family: "AvenirNextBold", sans-serif;
}

@media (min-width: 768px) {
  .page-header {
    font-size: 36px;
    line-height: 44px;
    color: #fff;
    font-family: "AvenirNext", sans-serif;
    margin-top: 0;
    margin-bottom: 0;
  }
  .section-header {
    font-size: 24px;
    line-height: 32px;
    color: #fff;
    font-family: "AvenirNextDemi", sans-serif;
  }
  .hero-content__title {
    font-size: 60px;
    line-height: 68px;
    color: #fff;
    font-family: "AvenirNextBold", sans-serif;
  }
}
.hero, .about, .photogallery {
  margin-top: 0;
  padding-top: 0;
  display: flex;
  width: 100%;
  height: auto;
}

.hero-content {
  display: flex;
  position: relative;
  text-align: left;
  background-color: rgb(0, 0, 0);
  margin-top: 0;
  padding-top: 0;
}
.hero-content__title {
  position: absolute;
  display: flex;
  align-self: center;
  color: #fff;
  margin-left: 16px;
}
.hero-image img {
  display: flex;
  width: 100%;
  height: auto;
  opacity: 0.5;
  -o-object-position: center;
     object-position: center;
}

@media (min-width: 768px) {
  .photogallery-content {
    margin: 36px;
  }
}
.about-content {
  margin: 0 16px;
}
.about-content__title {
  font-size: 24px;
  line-height: 32px;
  margin-top: 24px;
  color: #323232;
  font-family: "AvenirNextDemi";
}
.about-content__text .subheader p {
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
}
.about-content__text .boldcopy {
  font-size: 13px;
  line-height: 18px;
  font-weight: 700;
}
.about-content__text .copy {
  display: block;
}
.about-content__text .copy p {
  padding-right: 36px;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}
.about-content__image img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.photogallery-content {
  margin: 16px;
}

.photogallery-title {
  margin: 16px;
}

@media (min-width: 768px) {
  .hero-content__title {
    margin-left: 36px;
  }
  .about-content__text {
    padding: 0 36px;
  }
  .about-content__text .copy {
    display: flex;
    flex-wrap: nowrap;
    text-align: left;
    justify-content: space-between;
  }
  .about-content__text .subheader p {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
  }
  .about-content__text .boldcopy {
    font-size: 14px;
    line-height: 22px;
    font-weight: 700;
  }
  .about-content__text .copy p {
    padding-right: 36px;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
  }
  .about-content__title {
    font-size: 36px;
    line-height: 44px;
    margin: 0 36px;
    margin-top: 48px;
    color: #323232;
    font-family: "AvenirNextDemi";
  }
  .about-content__image {
    margin: 36px;
    padding: 0 36px;
  }
}
.photogallery-content__image img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.photogallery {
  display: inline-block;
  background-color: #FAFAFA;
}

@media (min-width: 768px) {
  .list__title, .page-subheader {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #fff;
  }
  .header__list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .footer-list--no-mobile {
    display: flex;
    color: #fff;
  }
  .photogallery-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 36px;
    flex-wrap: wrap;
    margin: 36px;
  }
  .photogallery-title {
    margin: 36px;
  }
}
.footer-content {
  background-color: #323232;
  padding: 16px;
}
.footer-content__header .list__title {
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
  color: #fff;
  font-family: "AvenirNextDemi";
}
.footer-content__header .list__socials {
  display: flex;
  justify-content: flex-start;
}
.footer-content__header .list__socials .icon {
  padding: 0 16px;
}
.footer-content__header .no-mobile {
  display: none;
}
.footer-content__list {
  display: flex;
  align-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}
.footer-content__list .item {
  padding: 16px 0;
  color: #fff;
  font-size: 10px;
  line-height: 20px;
  font-weight: 400;
}
.footer-content .page-subheader {
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  text-align: left;
  color: #fff;
}
.footer-content .page1-header {
  color: #fff;
}

@media (min-width: 768px) {
  .footer {
    background-color: #323232;
    display: flex;
    width: 100%;
    height: auto;
  }
  .footer-content {
    padding: 0 36px;
    padding-top: 48px;
  }
  .footer-content__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #323232;
  }
  .footer-content__header .list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .footer-content__header .list__title {
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    color: #fff;
    font-family: "AvenirNextDemi";
    margin-right: 108px;
  }
  .footer-content__header .list__socials .icon {
    padding: 0 16px;
  }
  .footer-content__header .no-mobile {
    display: flex;
    color: #fff;
  }
  .footer-content__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
    background-color: #323232;
  }
  .footer-content__list .item {
    display: block;
    color: #fff;
    font-size: 12px;
    line-height: 20px;
    align-items: center;
    width: 100%;
    flex-wrap: nowrap;
  }
  .footer-content__list .item__title {
    margin-bottom: 36px;
    font-family: "AvenirNextDemi";
  }
  .footer-content__list .item__subtitle {
    margin-bottom: 36px;
    font-family: "AvenirNext";
  }
  .footer-content .page1-header {
    display: none;
  }
  .footer-content .page-subheader {
    padding-bottom: 36px;
  }
  .footer-content .page-subheader {
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    text-align: left;
    color: #fff;
  }
}
@media (min-width: 1024px) {
  .footer-content__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-align: left;
    flex-wrap: nowrap;
    align-items: center;
    background-color: #323232;
  }
}/*# sourceMappingURL=bio.css.map */