@use 'partials/variables' as *;
@use 'partials/mixins' as *;
@use 'partials/fonts' as *;



body {
  margin: 0;
  padding: 0;
  font-family: 'AvenirNext',sans-serif;
  box-sizing: border-box;
}
ul,a,a:link, a:visited{
    text-decoration: none;
    list-style-type: none;
    padding: 0;
    // color: #fff;
}
.navbar{
    text-align: center;
    width:100%;
    background-color: $navbar-color;
    display: inline-block;
    padding-top: 16px;
    
}
.navbar {&-list{
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}}
.navbar{&-list{&__item{
    text-align: center;
    width: 50%;
    
}}}
.navbar{&-list{&__title{
    display: flex;
    justify-content: center;
}}}
.navbar-list__item hr{
    border: 3px solid #fff;
    margin: 0;
}
@include tablet{
    .navbar{
        display: flex;
        justify-content: flex-start;
        margin-bottom: 0;
    }
    .navbar{&-list{
        margin-bottom: 0;
    }}
    .navbar{&-list{&__item{
        display: flex;
        justify-content: center;
        padding:0 16px;
    }}}
    .navbar{&-list{&__title{
        display: flex;
        align-content: center;
        flex-wrap: wrap;
        width:20vw;
    }}}
    
}

// @include tablet{
//     .navbar-list{
//         display: flex;
//         justify-content: flex-start;
//         padding-top: 0;
//         margin: 0;
//     }
//     .navbar{
    
//         display: flex;
//         // justify-content: space-between;
//         // position: fixed; 
//     // width: 100%;
//     //     text-align: left;
//     //     display: flex;
//     //     justify-content: flex-start;
// // }
// @include tablet_{
//     .navbar-list__title{
//         display: flex;
//         justify-content: flex-start;
//         margin:0;
//     }
// }
    
// }
.page{&-header{
    font-size: $mobile-page-header--size;
    line-height:$mobile-page-header--lineheight;
    font-weight: $mobile-page-header--textweight;
    color: $navbar-text;
    font-family:"AvenirNext",sans-serif;
    margin-top: 0;
    margin-bottom: 0;
}}

.section{&-header{
    font-size: $mobile-section-header--size;
    line-height:$mobile-section-header--lineheight;
    font-weight: $mobile-section-header--textweight;
    color: $navbar-text;
    font-family:"AvenirNextBold",sans-serif;
}}
@include tablet{
    .page{&-header{
        font-size: $tablet-page-header--size;
        line-height:$tablet-page-header--lineheight;
        font-weight: $tablet-page-header--textweight;
        color: $navbar-text;
        font-family:"AvenirNext",sans-serif;
        margin-top: 0;
        margin-bottom: 0;
    }}
    
    .section{&-header{
        font-size: $tablet-section-header--size;
        line-height:$tablet-section-header--lineheight;
        font-weight: $tablet-section-header--textweight;
        color: $navbar-text;
        font-family:"AvenirNextBold",sans-serif;
    }}
}
.hero,.about,.photogallery{
    margin-top: 0;
    padding-top: 0;
    display: flex;
    width: 100%;
    height: auto;
}
.hero-content{
    position: relative;
    text-align: left;
    background-color: rgba(0, 0, 0,1);
    margin-top: 0;
    padding-top: 0; 
}
.hero-content__title{
    position: absolute;
    top: 50%;
    color: $navbar-text;
    margin-left: 16px;

}
.hero-image img{
    width: 100%;
    height: auto;
    opacity: 0.5;
    object-position: center;
}
@include tablet{
    .about-content, .photogallery-content{
        margin: 36px;
    }
}
.about-content, .photogallery-content{
    margin: 16px;
}
.about-content__description1,.about-content__description2{
    display: flex;
    flex-wrap: wrap;
}
@include tablet{
    .about-content__description2{
        flex-wrap: nowrap;
        text-align: justify;
        justify-content: space-between;
    }
    .about-content__description2 p{
        padding: 16px;
    }
}

// .photogallery-content__title{
//     position: absolute;
//     top: 50%;
//     color: $navbar-text;
//     margin-left: 16px;

// }
.about-content__image img{
    width: 100%;
    height: auto;
    object-fit: cover;

}
.photogallery__image img{
    width:100%;
    height: auto;
    object-fit: cover;
    // margin:16px;
    // padding: 16px;
    
}
.photogallery{
    display: inline-block;
}
@include tablet{
    .photogallery-content{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
    // padding: 100px 0;
    // margin: 0 auto;
    // display: flex;
    flex-wrap: wrap;
    }
}
.footer-list--no-mobile{
    display:none;
}
.footer{&-container{
    padding:16px;
    background-color: $navbar-color;
    display: inline-block;
    width: 100%;
}}
.footer{&-list{&__socials{
    display: flex;
    justify-content: flex-start;
}}}
.footer{&-list{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;

}}
.footer{&-list{&__item{
    // line-height: 0.5;
    padding: 16px 0;
    color: #fff;
}}}
@include tablet{
    .footer{&-list1{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 16px;
        position: relative;
    }}
    .footer-list--no-mobile{
        display: flex;
        justify-content: flex-end;
        color: #fff;
        padding-left: 60%;
    }
    .footer{&-container{
        padding:16px;
        background-color: $navbar-color;
        display: inline-block;
        width: 100%;
    }}
    .footer{&-list{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
    }}
    .footer{&-list{&__item{
        line-height: 2;
        padding: 16px 0;
        color: #fff;
    }}}
    .footer{
        padding:16px;
        background-color: $navbar-color;
        display: flex;
        width: 100%;
    }
    .page1{&-header{
        display: none;
    }}

}


// .gallery {
//   display: flex;
//   flex-direction: column;
//   margin: 0 20px;

//   @include tablet {
//     flex-direction: row;
//     flex-wrap: wrap;
//     justify-content: space-evenly;
//     align-content: space-evenly;
// }

//   &__item {
//     text-align: center;
//     background: lightblue;
//     margin: 20px 0;
//     padding: 20px 0;
//     font-size: 5rem;
//     border-radius: 5px;

//     @include tablet {
//       width: 40%;
//       margin: 3vw 0;
//       background: lightgreen;
//     }
//     @include desktop {
//       width: 30%;
//       margin: 1.25vw 0;
//       background: lightpink;
//     }

//   }
// }
