@use 'partials/variables' as *;
@use 'partials/mixins' as *;
@use 'partials/fonts' as *;



body {
  margin: 0;
  padding: 0;
  font-family: 'AvenirNext',sans-serif;
  box-sizing: border-box;
}
ul,a,a:link, a:visited{
    text-decoration: none;
    list-style-type: none;
    padding: 0;
    // color: #fff;
}
.navbar{
    text-align: center;
    width:100%;
    background-color: $navbar-color;
    display: inline-block;
    padding-top: 24px;
    &-list{
        display: flex;
        justify-content: space-between;
        padding: 0;
        margin: 0;
        &__item{
            text-align: center;
            width: 50%;
            
        }
        &__item hr{
            border: 3px solid #fff;
            margin: 0;
        }
        &__title{
            display: flex;
            justify-content: center;
        }
        
    }


}

@include tablet{
    .navbar{
        display: flex;
        justify-content: flex-start;
        margin-bottom: 0;
        padding-top: 36px;
        &-list{
            margin-bottom: 0;
            &__item{
                display: flex;
                justify-content: center;
                padding:0 36px;
                width: 33%;
            }
            &__title{
                display: flex;
                justify-content: flex-start;
                align-content: center;
                flex-wrap: wrap;
                // width:30%;
                margin: 0 36px;
            }
        }
    }    
}

// @include tablet{
//     .navbar-list{
//         display: flex;
//         justify-content: flex-start;
//         padding-top: 0;
//         margin: 0;
//     }
//     .navbar{
    
//         display: flex;
//         // justify-content: space-between;
//         // position: fixed; 
//     // width: 100%;
//     //     text-align: left;
//     //     display: flex;
//     //     justify-content: flex-start;
// // }
// @include tablet_{
//     .navbar-list__title{
//         display: flex;
//         justify-content: flex-start;
//         margin:0;
//     }
// }
    
// }
.page{
    &-header{
    font-size: $mobile-section-header--size;
    line-height:$mobile-section-header--lineheight;
    font-weight: $mobile-section-header--textweight;
    color: $navbar-text;
    font-family:"AvenirNext",sans-serif;
    margin-top: 0;
    margin-bottom: 0;
}}

.hero{&-content{&__title{
    font-size: $mobile-page-header--size;
    line-height:$mobile-page-header--lineheight;
    font-weight: $mobile-page-header--textweight;
    color: $navbar-text;
    font-family:"AvenirNextBold",sans-serif;
}}}

.section{
    &-header{
    font-size: $mobile-sub-header--size;
    line-height:$mobile-sub-header--lineheight;
    font-weight: $mobile-sub-header--textweight;
    color: $navbar-text;
    font-family:"AvenirNextBold",sans-serif;
}}
@include tablet{
    .page{&-header{
        font-size: $desktop-section-header--size;
        line-height:$desktop-section-header--lineheight;
        font-weight: $desktop-section-header--textweight;
        color: $navbar-text;
        font-family:"AvenirNext",sans-serif;
        margin-top: 0;
        margin-bottom: 0;
    }}
    
    .section{&-header{
        font-size: $desktop-sub-header--size;
        line-height:$desktop-sub-header--lineheight;
        font-weight: $desktop-sub-header--textweight;
        color: $navbar-text;
        font-family:"AvenirNextDemi",sans-serif;
    }}
    .hero{
        &-content{
            &__title{
        font-size: $desktop-page-header--size;
        line-height:$desktop-page-header--lineheight;
        font-weight: $desktop-page-header--textweight;
        color: $navbar-text;
        font-family:"AvenirNextBold",sans-serif;
    }}}
}
.hero,.about,.photogallery{
    margin-top: 0;
    padding-top: 0;
    display: flex;
    width: 100%;
    height: auto;
}
.hero{
    &-content{
    display: flex;
    position: relative;
    text-align: left;
    background-color: rgba(0, 0, 0,1);
    margin-top: 0;
    padding-top: 0;
    &__title{
        position: absolute;
    display: flex;
    align-self: center;
    // top: 50%;
    color: $navbar-text;
    margin-left: 16px;
    } 
    }
    
    &-image img{
        display: flex;
    width: 100%;
    height: auto;
    opacity: 0.5;
    object-position:center;
    }

}

@include tablet{
    .about-content, .photogallery-content{
        margin: 36px;
    }
}
.about-content, .photogallery-content{
    margin: 16px;
}
.text__subheader,.text__copy{
    display: flex;
    flex-wrap: wrap;
    font-size: $mobile-bodycopy--size;
        line-height:$mobile-bodycopy--lineheight;
        font-weight: $mobile-bodycopy--textweight;
}
@include tablet {
    .hero-content__title{
        margin-left: 36px;
    }
    .text__copy{
        flex-wrap: nowrap;
        text-align: justify;
        justify-content: space-between;
    }
    .about-content__text{
        padding: 0 36px;
    }
    .text__subheader p{
        font-size: $desktop-sub-header--size;
        line-height:$desktop-sub-header--lineheight;
        font-weight: $desktop-sub-header--textweight;
    }
    .text__boldcopy{
        font-size: $desktop-bodycopy--size;
        line-height:$desktop-bodycopy--lineheight;
        font-weight: 700;
    }
    .text__copy p{
        padding-right: 36px;
        font-size: $desktop-bodycopy--size;
        line-height:$desktop-bodycopy--lineheight;
        font-weight: $desktop-bodycopy--textweight;
    }
    .about-content__title,.about-content__text{
        margin:36px;
        // padding: 0 36px;
    }
    .about-content__image{
        margin:36px;
        padding: 0 36px;
    }
}
.about-content__image img{
    width: 100%;
    height: auto;
    object-fit: cover;

}
.photogallery-content__image img{
    width:100%;
    height: auto;
    object-fit: cover;
    // margin:16px;
    // padding: 16px;
    
}
.photogallery{
    display: inline-block;
    background-color: #FAFAFA;
}
@include tablet{
    .list__title,.page-subheader{
        font-size: $desktop-footercopy--size;
        line-height:$desktop-footercopy--lineheight;
        font-weight: $desktop-footercopy--textweight;
        color: #fff;
    }
    .header__list{
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .footer-list--no-mobile{
        display: flex;
        color: #fff;
    }
    
    .photogallery-content{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
    // padding: 100px 0;
    // margin: 0 auto;
    // display: flex;
    flex-wrap: wrap;
    margin: 36px;
    }
    .photogallery-title{
        margin: 36px;
    }
}

// .footer{&-content{
//     padding:16px;
//     background-color: $navbar-color;
//     display: inline-block;
//     width: 100%;
// }}
// .list__socials{
//     display: flex;
//     justify-content: flex-start;
// }
.footer{
    &-content{
        background-color: $navbar-color;
        padding: 16px;
        &__header{
            .list{
                &__socials{
                    display: flex;
                    justify-content: flex-start;
                    .icon{
                        padding: 0 16px;
                }
                }
            }
            .no-mobile{
                display:none;
            }
        }
        &__list{
            display: flex;
            align-content: flex-start;
            flex-direction: column;
            flex-wrap: wrap;
            .item{
                padding: 16px 0;
                color: #fff;
                font-size: $mobile-footercopy--size;
                line-height:$mobile-footercopy--lineheight;
                font-weight: $mobile-footercopy--textweight;
            }
        }

    }
}
@include tablet{
    
    .footer{
        background-color: $navbar-color;
        display: flex;
        background-color: $navbar-color;
        width: 100%;
        height: auto;
        padding: 36px;
        
    &-content{
        &__header{
            display: flex;
            justify-content: space-between;
            align-items: center ;
            background-color: $navbar-color;
            .list{
                display: flex;
                align-items: center;
                justify-content: space-between;
                
                &__title{
                    font-size: $desktop-footercopy--size;
                    line-height:$desktop-footercopy--lineheight;
                    font-weight: $desktop-footercopy--textweight;
                    color: #fff;
                    margin-right: 108px;
                }
                &__socials{
                    // margin-left: 80px;
                    .icon{
                        padding: 0 16px;
                }
                    
                }
                
            }
            .no-mobile{
                display: flex;
                color: #fff;
            }
            
            }
            &__list{
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                // text-align: left;
                flex-wrap: nowrap;
                align-items: center;
                background-color: $navbar-color;
                // width: 100%;
                // height: auto;
                .item{
                    display: block;
                    // text-align: left;
                    line-height: 2;
                    color: #fff;
                    font-size: 10px;
                    line-height:$desktop-footercopy--lineheight;
                    font-weight: $desktop-footercopy--textweight;
                    align-items: center;
                    width: 100%;
                    flex-wrap: nowrap;
                    // margin: 0 36px;
                        &__title{
                            margin-bottom:36px;
                            font-weight: 700;
                        }
                        &__subtitle{
                            margin-bottom:36px;
                            font-weight: 300;

                        }
                }
            }
            .page1{&-header{
                display: none;
            }}
            
            .page-subheader{
                margin: 0 36px;
            }
            .page-subheader{
                font-size: $desktop-footercopy--size;
                line-height:$desktop-footercopy--lineheight;
                font-weight: $desktop-footercopy--textweight;
                color: #fff;
            }
            
        

    
    
    
    
    // .footer{&-container{
    //     // padding:16px;
    //     background-color: $navbar-color;
    //     display: inline-block;
    //     // width: 100%;
    //     // height: auto;
    //     padding: 36px;
    // }}
    // .footer{&-list{&__item{
        // line-height: 2;
        // color: #fff;
        // font-size: 10px;
        // line-height:$desktop-footercopy--lineheight;
        // font-weight: $desktop-footercopy--textweight;
        // align-items: center;
        // flex-wrap: nowrap;
        // margin: 0 36px;
        
    // }}}
    

}
}
}
@include desktop{
    .footer{&-content{&__list{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        text-align: left;
        flex-wrap: nowrap;
        align-items: center;
        background-color: $navbar-color;
    }}}
}


// .gallery {
//   display: flex;
//   flex-direction: column;
//   margin: 0 20px;

//   @include tablet {
//     flex-direction: row;
//     flex-wrap: wrap;
//     justify-content: space-evenly;
//     align-content: space-evenly;
// }

//   &__item {
//     text-align: center;
//     background: lightblue;
//     margin: 20px 0;
//     padding: 20px 0;
//     font-size: 5rem;
//     border-radius: 5px;

//     @include tablet {
//       width: 40%;
//       margin: 3vw 0;
//       background: lightgreen;
//     }
//     @include desktop {
//       width: 30%;
//       margin: 1.25vw 0;
//       background: lightpink;
//     }

//   }
// }
