@use 'partials/variables' as *;
@use 'partials/mixins' as *;
@use 'partials/fonts' as *;

.article:hover{
    background-color: aqua;
}

.hero{
    &-content{
        display: flex;
        position: relative;
        text-align: left;
        background-color: rgba(0, 0, 0,1);
        margin-top: 0;
        padding-top: 0;
        &__title{
            font-size: $mobile-page-header--size;
            line-height:$mobile-page-header--lineheight;
            font-weight: $mobile-page-header--textweight;
            color: $navbar-text;
            font-family:"AvenirNextBold",sans-serif;

            position: absolute;
            display: flex;
            align-self: center;
            color: $navbar-text;
            margin-left: 1rem;
        }
        &__subtitle{
            font-size: $mobile-page-header--size;
            line-height:$mobile-page-header--lineheight;
            font-weight: $mobile-page-header--textweight;
            color: $navbar-text;
            font-family:"AvenirNextBold",sans-serif;

            position: absolute;
            display: flex;
            align-self: center;
            color: $navbar-text;
            margin-left: 1rem;
        }
    }

    &-image img{
            display: flex;
            width: 100%;
            height: auto;
            opacity: 0.5;
            object-position:center;
    }


}
.show-card{
    background-color: #fff;
    transition: background-color 0.3s;
}

.highlighted{
    background-color: blue;
}
.show-card:hover{
    background-color: #FAFAFA;
}
.hover-state{
    background-color: #FAFAFA;
}
.active-state{
    background-color: #E1E1E1 !important;
}
.inactive-state{
    background-color: #fff;
}