@font-face {
  font-family: "AvenirNext";
  src: url(../assets/Font/AvenirNextLTPro-Regular.otf) format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNextDemi";
  src: url(../assets/Font/AvenirNextLTPro-Demi.otf) format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNextBold";
  src: url(../assets/Font/AvenirNextLTPro-Bold.otf) format("opentype");
  font-weight: 700;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
  font-family: "AvenirNext", sans-serif;
  box-sizing: border-box;
}

ul, a, a:link, a:visited {
  text-decoration: none;
  list-style-type: none;
  padding: 0;
}

.navbar {
  text-align: center;
  width: 100%;
  background-color: #323232;
  display: inline-block;
  padding-top: 1.5rem;
}
.navbar-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
.navbar-list__item {
  text-align: center;
  width: 50%;
}
.navbar-list__title {
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 0;
    padding-top: 2.25rem;
  }
  .navbar-list {
    margin-bottom: 0;
  }
  .navbar-list__item {
    display: flex;
    justify-content: center;
    padding: 0 2.25rem;
    width: 33%;
  }
  .navbar-list__title {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: wrap;
    margin: 0 2.25rem;
  }
}
.page-header {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  color: #fff;
  font-family: "AvenirNext", sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}

.section-header {
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  color: #AFAFAF;
  font-family: "AvenirNextBold", sans-serif;
}

.hero-content {
  display: flex;
  position: relative;
  text-align: left;
  background-color: rgb(0, 0, 0);
  margin-top: 0;
  padding-top: 0;
}
.hero-content__title {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  color: #fff;
  font-family: "AvenirNextBold", sans-serif;
}
.hero-content__subtitle {
  font-size: 14px;
  line-height: 32px;
  font-weight: 700;
  color: #fff;
  font-family: "AvenirNextBold", sans-serif;
}
.hero-content .titles {
  position: absolute;
  display: block;
  width: 75%;
  align-self: center;
  margin-left: 1rem;
}
.hero-image img {
  display: flex;
  width: 100%;
  height: auto;
  opacity: 0.5;
  -o-object-position: center;
     object-position: center;
}

@media (min-width: 768px) {
  .page-header {
    font-size: 36px;
    line-height: 44px;
    color: #fff;
    font-family: "AvenirNext", sans-serif;
    margin-top: 0;
    margin-bottom: 0;
  }
  .section-header {
    font-size: 24px;
    line-height: 32px;
    color: #fff;
    font-family: "AvenirNextDemi", sans-serif;
  }
  .hero-content__soundcloud {
    margin: 2.25rem;
  }
  .hero-content__title {
    margin-top: 0;
    font-size: 60px;
    line-height: 68px;
    color: #fff;
    font-family: "AvenirNextBold", sans-serif;
  }
  .hero-content__subtitle {
    font-size: 24px;
    line-height: 68px;
    font-weight: 700;
    color: #fff;
    font-family: "AvenirNextBold", sans-serif;
    margin: 0 2.25rem;
  }
}
.hero, .about, .photogallery {
  margin-top: 0;
  padding-top: 0;
  display: flex;
  width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  .photogallery-content {
    margin: 2.25rem;
  }
}
.about-content {
  padding: 0 1rem;
}
.about-content__title {
  font-size: 24px;
  line-height: 32px;
  margin-top: 1.5rem;
  color: #323232;
  font-family: "AvenirNextDemi";
}
.about-content__text .subheader p {
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
}
.about-content__text .boldcopy {
  font-size: 13px;
  line-height: 18px;
  font-weight: 700;
}
.about-content__text .copy {
  display: block;
}
.about-content__text .copy p {
  padding-right: 2.25rem;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}
.about-content__image img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.photogallery-content {
  margin: 1rem;
}

.photogallery-title {
  margin: 1rem;
}

@media (min-width: 768px) {
  .hero-content__title {
    margin-left: 2.25rem;
  }
  .about-content {
    padding: 0 2.25rem;
  }
  .about-content__text {
    margin: 0 2.25rem;
  }
  .about-content__text .copy {
    display: flex;
    flex-wrap: nowrap;
    text-align: left;
    justify-content: space-between;
  }
  .about-content__text .subheader p {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    color: #323232;
  }
  .about-content__text .boldcopy {
    font-size: 14px;
    line-height: 22px;
    font-weight: 700;
    color: #323232;
  }
  .about-content__text .copy p {
    padding-right: 2.25rem;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
  }
  .about-content__title {
    font-size: 36px;
    line-height: 44px;
    margin-top: 3rem;
    color: #323232;
    font-family: "AvenirNextDemi";
  }
  .about-content__image {
    margin: 2.25rem;
    padding: 0 2.25rem;
  }
}
.photogallery-content__image img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.photogallery {
  display: inline-block;
  background-color: #FAFAFA;
}

@media (min-width: 768px) {
  .header__list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .footer-list--no-mobile {
    display: flex;
    color: #fff;
  }
  .photogallery-title {
    margin: 2.25rem;
    color: #323232;
    font-size: 24px;
    line-height: 32px;
    font-family: "AvenirNextDemi";
  }
  .photogallery-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2.25rem;
    flex-wrap: wrap;
    margin: 2.25rem;
  }
}
.footer-content {
  background-color: #323232;
  padding: 1rem;
}
.footer-content__header .list__title {
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
  color: #fff;
  font-family: "AvenirNextDemi";
}
.footer-content__header .list__socials {
  display: flex;
  justify-content: flex-start;
}
.footer-content__header .list__socials .icon {
  padding: 0 1rem;
}
.footer-content__header .no-mobile {
  display: none;
}
.footer-content__list {
  display: flex;
  align-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}
.footer-content__list .item {
  padding: 1rem 0;
  color: #fff;
  font-size: 0.625rem;
  line-height: 20px;
  font-weight: 400;
}
.footer-content__list .item a {
  color: #fff;
}
.footer-content__copyright {
  font-size: 0.75rem;
  line-height: 20px;
  font-weight: 400;
  text-align: left;
  color: #fff;
}
.footer-content .footer-content__logo {
  color: #fff;
}

@media (min-width: 768px) {
  .footer {
    background-color: #323232;
    display: flex;
    width: 100%;
    height: auto;
  }
  .footer-content {
    padding: 0 2.25rem;
    padding-top: 3rem;
  }
  .footer-content__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #323232;
  }
  .footer-content__header .list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .footer-content__header .list__title {
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    color: #fff;
    font-family: "AvenirNextDemi";
    margin-right: 6.75rem;
  }
  .footer-content__header .list__socials .icon {
    padding: 0 1rem;
  }
  .footer-content__header .no-mobile {
    display: flex;
    color: #fff;
  }
  .footer-content__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
    background-color: #323232;
  }
  .footer-content__list .item {
    display: block;
    color: #fff;
    font-size: 0.75rem;
    line-height: 20px;
    align-items: center;
    width: 100%;
    flex-wrap: nowrap;
  }
  .footer-content__list .item__title {
    margin-bottom: 2.25rem;
    font-family: "AvenirNextDemi";
  }
  .footer-content__list .item__subtitle {
    margin-bottom: 2.25rem;
    font-family: "AvenirNext";
  }
  .footer-content__logo {
    display: none;
  }
  .footer-content__copyright {
    padding-bottom: 2.25rem;
    font-size: 0.75rem;
    line-height: 20px;
    font-weight: 400;
    text-align: left;
    color: #fff;
  }
}
@media (min-width: 1280px) {
  .hero-content .titles {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-end;
    top: 25%;
  }
  .hero-content__title {
    padding: 0 4.5rem;
    width: 70%;
  }
  .hero-content__subtitle {
    font-size: 36px;
    line-height: 68px;
    font-weight: 700;
    color: #fff;
    font-family: "AvenirNextBold", sans-serif;
    padding: 0 4.5rem;
  }
  .hero-content__soundcloud {
    width: 50%;
    padding: 2.25rem;
  }
  .photogallery-content {
    padding: 0 4.5rem;
  }
  .navbar-list__title, .about-content__title, .photogallery-title {
    padding-left: 4.5rem;
  }
  .about-content__text {
    margin: 0 4.5rem;
  }
  .about-content__image {
    margin: 0 4.5rem;
    padding: 0 4.5rem;
  }
  .photogallery-title {
    font-family: "AvenirNextDemi";
  }
  .footer-content {
    padding: 0 6.75rem;
  }
  .footer-content__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-align: left;
    flex-wrap: nowrap;
    align-items: center;
    background-color: #323232;
  }
}
.input {
  width: 100%;
  padding: 1rem;
  margin: 1rem;
  border: 1px solid #000;
  border-radius: 100%;
}

.comment-img img {
  width: 6.25rem;
  height: 6.25rem;
  filter: grayscale(100%);
  border-radius: 50%;
}

.comment-name {
  background-color: #FAFAFA;
}

.comment-card:hover {
  background-color: aqua;
}

.article:hover {
  background-color: aqua;
}

#shows, #bio:hover {
  border-bottom: 5px solid #fff;
}
#shows .section-header, #bio:hover .section-header {
  color: #fff;
}

#bio .section-header {
  color: #AFAFAF;
}

.showcard-title {
  margin: 1rem;
}

.shows-container {
  width: 100%;
  display: block;
  margin: 1rem 0;
}

.show-card {
  background-color: #fff;
  transition: background-color 0.3s;
  font-size: 13px;
  font-family: "AvenirNext";
  width: 100%;
  border-bottom: 2px solid #E1E1E1;
  display: block;
}

.show-card:hover {
  background-color: #FAFAFA;
}

.show-header {
  display: block;
  margin: 1rem;
}

.hover-state {
  background-color: #FAFAFA;
}

.active-state {
  background-color: #E1E1E1 !important;
}

.inactive-state {
  background-color: #fff;
}

.title-array, .title-array2 {
  color: #AFAFAF;
  font-size: 14px;
}

.button {
  background-color: #323232;
  color: #E1E1E1;
  border-radius: 6px;
  border: 0px;
  padding: 1rem;
  width: 100%;
  height: auto;
  font-family: "AvenirNext";
  font-weight: 700;
  font-size: 24px;
  margin: 0 0 1rem 0;
}

.button:hover {
  background-color: #000000;
}

.show-header2 {
  display: none;
}

@media (min-width: 768px) {
  .show-card {
    display: flex;
    justify-content: space-between;
  }
  .showcard-title {
    width: 100%;
    font-size: 60px;
    font-family: "AvenirNextBold";
    display: flex;
    margin-right: 7vw;
    color: #323232;
  }
  .showcard-title2 {
    display: none;
  }
  .title-array {
    width: 30vw;
    margin-bottom: 0;
    font-size: 24px;
    text-align: left;
  }
  .show-header2 {
    width: 75vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 24px;
    margin: 1.5rem 1.125rem;
  }
  .show-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-size: 24px;
    margin: 1.5rem 1.125rem;
  }
  .show-header p {
    width: 300px;
  }
  .button {
    width: 25%;
    height: 100%;
    height: auto;
    font-size: 24px;
    font-weight: 700;
    font-family: "AvenirNext";
    flex-wrap: nowrap;
    align-self: center;
  }
  .title-array2 {
    display: none;
  }
}
@media (min-width: 1280px) {
  .show-header p {
    width: 275px;
  }
  .shows {
    display: flex;
    flex-direction: row;
  }
  .showcard-title2 {
    width: 100%;
    font-size: 60px;
    display: flex;
    margin-left: 1.5rem;
    margin-right: 7vw;
    padding: 1.5rem 1.125rem;
    color: #323232;
  }
  .showcard-title {
    display: none;
  }
  .show-card {
    margin-left: 25vw;
    width: 75vw;
  }
  .show-header2 {
    width: 75vw;
    text-align: left;
    display: flex;
  }
  .show-header2 p {
    width: 100%;
    margin: 2.25rem;
  }
  .title-array2 {
    display: none;
  }
}/*# sourceMappingURL=shows.css.map */