@use 'partials/variables' as *;
@use 'partials/mixins' as *;
@use 'partials/fonts' as *;


@use 'partials/variables' as *;
@use 'partials/mixins' as *;
@use 'partials/fonts' as *;



body {
  margin: 0;
  padding: 0;
  font-family: 'AvenirNext',sans-serif;
  box-sizing: border-box;
}
ul,a,a:link, a:visited{
    text-decoration: none;
    list-style-type: none;
    padding: 0;
}

.navbar{
    text-align: center;
    width:100%;
    background-color: $navbar-color;
    display: inline-block;
    padding-top: 1.5rem;
    &-list{
        display: flex;
        justify-content: space-between;
        padding: 0;
        margin: 0;
        &__item{
            text-align: center;
            width: 50%;
            
            
        }
        &__title{
            display: flex;
            justify-content: center;
        }   
    }
}

@include tablet{
    .navbar{
        display: flex;
        justify-content: flex-start;
        margin-bottom: 0;
        padding-top: 2.25rem;
        &-list{
            margin-bottom: 0;
            &__item{
                display: flex;
                justify-content: center;
                padding:0 2.25rem;
                width: 33%;
            }
            &__title{
                display: flex;
                justify-content: flex-start;
                align-content: center;
                flex-wrap: wrap;
                margin: 0 2.25rem;
            }
        }
    }    
}

.page{
    &-header{
    font-size: $mobile-section-header--size;
    line-height:$mobile-section-header--lineheight;
    font-weight: $mobile-section-header--textweight;
    color: $navbar-text;
    font-family:"AvenirNext",sans-serif;
    margin-top: 0;
    margin-bottom: 0;
}}


.section{
    &-header{
    font-size: $mobile-sub-header--size;
    line-height:$mobile-sub-header--lineheight;
    font-weight: $mobile-sub-header--textweight;
    color: #AFAFAF;
    font-family:"AvenirNextBold",sans-serif;
}}


.hero{
    &-content{
        display: flex;
        position: relative;
        text-align: left;
        background-color: rgba(0, 0, 0,1);
        margin-top: 0;
        padding-top: 0;
        &__title{
            font-size: $mobile-page-header--size;
            line-height:$mobile-page-header--lineheight;
            font-weight: $mobile-page-header--textweight;
            color: $navbar-text;
            font-family:"AvenirNextBold",sans-serif;

            // position: absolute;
            // display: flex;
            // align-self: center;
            // color: $navbar-text;
            // // margin-left: 1rem;
        }
        &__subtitle{
            font-size: $mobile-sub-header--size;
            line-height:$mobile-page-header--lineheight;
            font-weight: $mobile-page-header--textweight;
            color: $navbar-text;
            font-family:"AvenirNextBold",sans-serif;

            // position: absolute;
            // display: flex;
            // align-self: center;
            // color: $navbar-text;
            // margin-left: 1rem;
        }
        .titles{
            position: absolute;
            display: block;
            // flex-wrap:wrap;
            // justify-content: center;
            width: 75%;
            // align-content:center;
            align-self: center;
            // text-align: left;
            // color: $navbar-text;
            margin-left: 1rem;

        }
    }

    &-image img{
            display: flex;
            width: 100%;
            height: auto;
            opacity: 0.5;
            object-position:center;
    }


}
@include tablet{
    .page{&-header{
        font-size: $desktop-section-header--size;
        line-height:$desktop-section-header--lineheight;
        color: $navbar-text;
        font-family:"AvenirNext",sans-serif;
        margin-top: 0;
        margin-bottom: 0;
    }}
    
    .section{&-header{
        font-size: $desktop-sub-header--size;
        line-height:$desktop-sub-header--lineheight;
        color: $navbar-text;
        font-family:"AvenirNextDemi",sans-serif;
    }}
    .hero{
        &-content{
            &__soundcloud{
                margin:2.25rem;
            }
            &__title{
                margin-top: 0;
        font-size: $desktop-page-header--size;
        line-height:$desktop-page-header--lineheight;
        color: $navbar-text;
        font-family:"AvenirNextBold",sans-serif;
    }
    &__subtitle{
        font-size: $desktop-sub-header--size;
        line-height:$desktop-page-header--lineheight;
        font-weight: $desktop-page-header--textweight;
        color: $navbar-text;
        font-family:"AvenirNextBold",sans-serif;
        margin:0 2.25rem;

        
    }}}
}
.hero,.about,.photogallery{
    margin-top: 0;
    padding-top: 0;
    display: flex;
    width: 100%;
    height: auto;
}


@include tablet{
    .photogallery-content{
        margin: 2.25rem;
    }
}
.about{
    &-content{
        padding: 0 1rem;
        &__title{
            font-size: $mobile-section-header--size;
            line-height:$mobile-section-header--lineheight;
            margin-top: 1.5rem;
            color:$navbar-color;
            font-family:'AvenirNextDemi';
        }
        &__text{
            .subheader p{
                font-size: $mobile-sub-header--size;
                line-height:$mobile-sub-header--lineheight;
                font-weight: $mobile-sub-header--textweight;
            }
            .boldcopy{
                font-size: $mobile-bodycopy--size;
                line-height:$mobile-bodycopy--lineheight;
                font-weight: 700;
            }
            .copy{
                display: block;
            }
            .copy p{
                padding-right: 2.25rem;
                font-size: $mobile-bodycopy--size;
                line-height:$mobile-bodycopy--lineheight;
                font-weight: $mobile-bodycopy--textweight;
            }

        }
        &__image img{
            width: 100%;
            height: auto;
            object-fit: cover;
        
        }
}
}
.photogallery-content{
    margin: 1rem;
}
.photogallery-title{
    margin: 1rem;
}
@include tablet {
    .hero-content__title{
        margin-left: 2.25rem;
    }
    
    .about{
        &-content{
            padding: 0 2.25rem;
            &__text{
                margin: 0 2.25rem;
                .copy{
                    display: flex;
                    flex-wrap: nowrap;
                    text-align: left;
                    justify-content: space-between;
                }
                .subheader p{
                    font-size: $desktop-sub-header--size;
                    line-height:$desktop-sub-header--lineheight;
                    font-weight: $desktop-sub-header--textweight;
                    color: $navbar-color;
                }
                .boldcopy{
                    font-size: $desktop-bodycopy--size;
                    line-height:$desktop-bodycopy--lineheight;
                    font-weight: 700;
                    color: $navbar-color;
                }
                .copy p{
                    padding-right: 2.25rem;
                    font-size: $desktop-bodycopy--size;
                    line-height:$desktop-bodycopy--lineheight;
                    font-weight: $desktop-bodycopy--textweight;
                }
        }
        &__title{
            font-size: $desktop-section-header--size;
            line-height:$desktop-section-header--lineheight;
            margin-top: 3rem;
            color:$navbar-color;
            font-family:'AvenirNextDemi';
        }
        &__image{
            margin:2.25rem;
            padding: 0 2.25rem;
        }
}
}
}

.photogallery-content__image img{
    width:100%;
    height: auto;
    object-fit: cover;
    
}
.photogallery{
    display: inline-block;
    background-color: #FAFAFA;
}
@include tablet{
    .header__list{
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .footer-list--no-mobile{
        display: flex;
        color: #fff;
    }
    
    .photogallery{
        &-title{
            margin: 2.25rem;
            color:$navbar-color;
            font-size: $desktop-sub-header--size;
                    line-height:$desktop-sub-header--lineheight;
                    font-family: 'AvenirNextDemi';
        }

        &-content{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 2.25rem;
        flex-wrap: wrap;
        margin: 2.25rem;
    }
}
}
.footer{
    &-content{
        background-color: $navbar-color;
        padding: 1rem;
        &__header{
            
            .list{
                &__title{
                    font-size: $desktop-sub-header--size;
                    line-height:$desktop-sub-header--lineheight;
                    font-weight: $desktop-footercopy--textweight;
                    color: #fff;
                    font-family: 'AvenirNextDemi';
                }
                &__socials{
                    display: flex;
                    justify-content: flex-start;
                    .icon{
                        padding: 0 1rem;
                }
                }
            }
            .no-mobile{
                display:none;
            }
        }
        &__list{
            display: flex;
            align-content: flex-start;
            flex-direction: column;
            flex-wrap: wrap;
            .item{
                padding: 1rem 0;
                color: #fff;
                font-size: 0.625rem;
                line-height:$mobile-footercopy--lineheight;
                font-weight: $mobile-footercopy--textweight;
            }
            .item a{
                color: #fff;
            }
        }
        &__copyright{
            font-size: 0.75rem;
            line-height:$desktop-footercopy--lineheight;
            font-weight: $desktop-footercopy--textweight;
            text-align: left;
            color: #fff;
        }
        .footer-content__logo{
            color:#fff;
        }
        

    }
}
@include tablet{
    
    .footer{
        background-color: $navbar-color;
        display: flex;
        width: 100%;
        height: auto;
        
    &-content{
        padding: 0 2.25rem;
        padding-top: 3rem;
        &__header{
            display: flex;
            justify-content: space-between;
            align-items: center ;
            background-color: $navbar-color;
            .list{
                display: flex;
                align-items: center;
                justify-content: space-between;
                
                &__title{
                    font-size: $desktop-sub-header--size;
                    line-height:$desktop-sub-header--lineheight;
                    font-weight: $desktop-footercopy--textweight;
                    color: #fff;
                    font-family: 'AvenirNextDemi';
                    margin-right: 6.75rem;
                }
                &__socials{
                    .icon{
                        padding: 0 1rem;
                }
                    
                }
                
            }
            .no-mobile{
                display: flex;
                color: #fff;
            }
            
            }
            &__list{
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                flex-wrap: nowrap;
                align-items: center;
                background-color: $navbar-color;
                .item{
                    display: block;
                    color: #fff;
                    font-size: 0.75rem;
                    line-height:$desktop-footercopy--lineheight;
                    align-items: center;
                    width: 100%;
                    flex-wrap: nowrap;
                        &__title{
                            margin-bottom:2.25rem;
                            font-family: 'AvenirNextDemi';
                        }
                        &__subtitle{
                            margin-bottom:2.25rem;
                            font-family: 'AvenirNext';

                        }
                }
            }
            &__logo{
                display: none;
            }
            
            &__copyright{
                padding-bottom: 2.25rem;
                font-size: 0.75rem;
                line-height:$desktop-footercopy--lineheight;
                font-weight: $desktop-footercopy--textweight;
                text-align: left;
                color: #fff;
            }
        }
    }
}
@include desktop{
    
    
    .hero-content{
        .titles{
            position: absolute;
            display: flex;
            flex-direction: row;            
            width: 100%;
            align-items: flex-end;
            top:25%;

        }
        &__title{
        padding: 0 4.5rem;
        width: 70%;
    }
    &__subtitle{
        font-size: $desktop-section-header--size;
        line-height:$desktop-page-header--lineheight;
        font-weight: $desktop-page-header--textweight;
        color: $navbar-text;
        font-family:"AvenirNextBold",sans-serif;
        padding: 0 4.5rem;

    }
    &__soundcloud{
        width:50%;
        padding: 2.25rem;

    }
}
    .photogallery-content{
        padding: 0 4.5rem;
    }
    
    .navbar-list__title,.about-content__title, .photogallery-title{
        padding-left:4.5rem;
    }
    .about{
        &-content{
            &__text{
                margin: 0 4.5rem;
        }
        
        &__image{
            margin:0 4.5rem;
            padding: 0 4.5rem;
        }
    }
}
    .photogallery-title{
        font-family:'AvenirNextDemi';
    }
    .footer{
        &-content{
            padding: 0 6.75rem;
            &__list{
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                text-align: left;
                flex-wrap: nowrap;
                align-items: center;
                background-color: $navbar-color;
            }
        }
    }
}
.input {
    width: 100%;
    padding: 1rem;
    margin:1rem;
    border: 1px solid #000;
    border-radius: 100%
}
.comment-img img{
    width:6.25rem;
    height:6.25rem;
    filter:grayscale(100%);
    border-radius: 50%;
}
.comment-name{
    background-color: #FAFAFA;
}
.comment-card:hover{
    background-color: aqua;
}
// ////////////////////////////////////////////
.article:hover{
    background-color: aqua;
}
#shows,#bio:hover{
    border-bottom: 5px solid #fff;
    
        .section-header{
            color:#fff;
        }

    
}
#bio{
    .section-header{
        color:#AFAFAF;
    }
    
}


.showcard-title{
    margin: 1rem;
}
.shows-container{
    width: 100%;
    display: block;
    margin: 1rem 0;
}

.show-card{
    background-color: #fff;
    transition: background-color 0.3s;
    font-size: $mobile-bodycopy--size;
    font-family: "AvenirNext";
    width: 100%;
    border-bottom: 2px solid #E1E1E1;
    display:block;
}

.show-card:hover{
    background-color: #FAFAFA;
}
.show-header{
    display: block;
    margin: 1rem;
}
.hover-state{
    background-color: #FAFAFA;
}
.active-state{
    background-color: #E1E1E1 !important;
}
.inactive-state{
    background-color: #fff;
}
.title-array,.title-array2{
    color:#AFAFAF;
    font-size: $mobile-sub-header--size;
}
.button{
    background-color: $navbar-color;
    color:#E1E1E1;
    border-radius: 6px;
    border:0px;
    padding: 1rem;
    width: 100%;
    height: auto;
    font-family: "AvenirNext";
    font-weight: 700;
    font-size: $mobile-page-header--size;
    margin: 0 0 1rem 0;
}
.button:hover{
    background-color: #000000;
}
.show-header2{
    display: none;
}


@include tablet{
    #shows{
        width: 100%;
        // padding: 1.5rem 1.125rem;
    }
    .shows-container{
        width: 100%;
        margin: 1.5rem 1.125rem;
    }
    .show-card{
        display: flex;
        justify-content: space-around;
        width:95%;
        // padding: 1.5rem 1.125rem;

    }
    .show-header{
        // display: none;
    }
    .showcard-title{
        width:90%;
        font-size:$desktop-page-header--size;
        font-family: 'AvenirNextBold';
        display: flex;
        // margin-left:1.5rem;
        margin-right:7vw;
        // padding: 1.5rem 1.125rem;
        color:$navbar-color;
    }
    .showcard-title2{
        display: none;
    }

//add title headers
.title-array{
    width: 30vw;
    margin-bottom: 0;
    font-size:$desktop-sub-header--size;
    text-align: left;
}
.show-header2{
    width:75vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    
    font-size:$desktop-sub-header--size;
    margin:1.5rem 1.125rem;
    // padding:0 1.5rem;
}
    .show-header{
        width:100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        font-size:$desktop-sub-header--size;
        margin:1.5rem 1.125rem;
        // padding: 0 1.5rem;
        
        
    }
    .show-header p{
        width:300px;
    }
    .button{
        width: 25%;
        height: 100%;
        height: auto;
        font-size:$desktop-sub-header--size;
        font-weight: 700;
        font-family: "AvenirNext";
        flex-wrap: nowrap;
        align-self: center;

    }
    .title-array2{
        display: none;
    }
}

@include desktop{
    .show-header p{
        width:275px;
    }
    
    .shows{

        display: flex;
        flex-direction: row;
    }
    .showcard-title2{
        width:100%;
        font-size:$desktop-page-header--size;
        display: flex;
        margin-left:1.5rem;
        margin-right:7vw;
        padding: 1.5rem 1.125rem;
        color:$navbar-color; 
    }
    .showcard-title{
        display: none;
    }
    .show-card{
        margin-left: 25vw;
        width:75vw;
    }
    .show-header2{
        width:75vw;
        text-align: left;
        display: flex;
    }
    .show-header2 p{
        width:100%;
        margin:2.25rem;
        
    }
    .title-array2{
        display: none;
    }

}